<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="json" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${env:APP_LOG_LEVEL:-INFO}">
            <AppenderRef ref="json" />
        </Root>
    </Loggers>
</Configuration>
